<% include partials/header%>
<h1>Title Page</h1>
<% blogs.forEach(function(blog){ %>
	<h2><%= blog.title %></h2>
	<img src="<%= blog.image%>">
	<p><%= blog.created %></p>
	<p><%= blog.body %>
<% }); %>
<% include partials/footer%>